{% extends "listings/base.html" %}

{% block content %}
    <h2>{{ listings.title }}</h2>

    <ul>
        <li>Types : {{ listing.get_type_display }}</li>
        <li>Année : {{ listing.year }}</li>
        <li>Vendu : {{ listing.sold|yesno }}</li>
    </ul>

    <p> {{listing.description}} </p>

    <a href="{% url 'listing-list' %}">Retour à toute les Annonces</a>
    <a href="{% url 'listing-update' listing.id %}">Mettre à jour une annonce</a>
    <a href="{% url 'listing-delete' listing.id %}">Supprimer  une annonce</a>

{% endblock  %}
